ML/MLA_100k_checked_v3.jsonlines
ML/new_or_used.py
ML/Opportunities@MeLi - CodeExercise DS_ML.docx
ML/ml.ipynb
Meli/notebook/EDA.ipynb
Meli/report/report.docx
Meli/src/data.py
Meli/requirements.txt
Meli/src/main.py
Meli/src/features.py
Meli/src/model.py
Meli/data/MLA_100k_checked_v3.jsonlines
